<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PicPop.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  <add name="PicPopEntities" connectionString="metadata=res://*/PicPop.csdl|res://*/PicPop.ssdl|res://*/PicPop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ane2hqtgp6.database.windows.net;initial catalog=PicPop;persist security info=True;user id=PicPop;password=Admin101;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <applicationSettings>
    <PicPop.BusinessLogic.Properties.Settings>
      <setting name="StorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=picpop;AccountKey=0q2eePlT+9nQhNjogqH+7NsjddKcTxw4QbZ0WEf/zBZmTq7VuWylyR/iMrYOtHXQg9EXgc/W4d/Lv7nZsn/1Aw==</value>
      </setting>
      <setting name="PicPopConnectionString" serializeAs="String">
        <value>metadata=res://*/PicPop.csdl|res://*/PicPop.ssdl|res://*/PicPop.msl;provider=System.Data.SqlClient;provider connection string="data source=ane2hqtgp6.database.windows.net;initial catalog=PicPop;persist security info=True;user id=PicPop;password=Admin101;multipleactiveresultsets=True;application name=EntityFramework"</value>
      </setting>
    </PicPop.BusinessLogic.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>